.DS_Store
.gradle
.metadata
sachin/dont-eat/Thumbs.db
sachin/dont-eat/Desktop.ini
sachin/dont-eat/*.tmp
sachin/dont-eat/*.bak
sachin/dont-eat/*.swp
sachin/dont-eat/*.class
sachin/dont-eat/*.jar
sachin/dont-eat/default.properties
sachin/dont-eat/gen
sachin/dont-eat/assets/www/cordova.js
sachin/dont-eat/local.properties
sachin/dont-eat/proguard.cfg
sachin/dont-eat/proguard-project.txt
sachin/dont-eat/example
/coverage
/framework/lib
/framework/build
/framework/bin
/framework/assets/www/.DS_Store
/framework/assets/www/cordova-*.js
/framework/assets/www/phonegap-*.js
/framework/libs
/framework/javadoc-public
/framework/javadoc-private
sachin/dont-eat/test/.externalNativeBuild
sachin/dont-eat/test/gradle
sachin/dont-eat/test/gradlew
sachin/dont-eat/test/gradlew.bat
sachin/dont-eat/test/assets/www/.tmp*
sachin/dont-eat/test/assets/www/cordova.js
sachin/dont-eat/test/bin
sachin/dont-eat/test/build
sachin/dont-eat/test/captures
sachin/dont-eat/test/libs
tmp/**
tmp/**/*
!/spec/fixtures/org.test.plugins.dummyplugin/src/android/TestLib.jar
# IntelliJ IDEA files
**/.idea/**/*
*.iml
sachin/dont-eat/npm-debug.log
sachin/dont-eat/node_modules/
sachin/dont-eat/coverage/
sachin/dont-eat/.nyc_output/
sachin/dont-eat/package-lock.json
sachin/dont-eat/www/package-lock.json
sachin/dont-eat/www/node_modules/
sachin/dont-eat/plugins/

sachin/dont-eat/framework
sachin/dont-eat/coverage
sachin/dont-eat/test
sachin/dont-eat/platforms/browser/www/node_modules/
sachin/dont-eat/platforms/browser/www/package-lock.json
